* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
  body {
    margin-top: 68px; /* yahaan bhi navbar ki height ke barabar margin do */
  }
header{
    background: linear-gradient(90deg, #040D12, #183D3D, #040D12);
    height: 80px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid black;
    box-shadow: 5px 5px 20px aqua;
    padding: 20px, 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 78px; /* apne navbar ki height */
    z-index: 1000;
}
 .navbar h1{
    font-size: 40px;
    margin-left: 50px;
    color: rgb(2, 235, 235);
}
.option{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    margin-right: 30px;
}
.option a{
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
    
}
.option a:hover{
    color: rgb(2, 235, 235);
    font-size: 21px;

}
.home{
    background: linear-gradient(180deg, #040D12, #132b2b, #040D12);
    height: 100vh;
    width: 100%;
    
}
.intro{
    padding-top: 155px;
    padding-left: 95px;   
}
.intro #p1{
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:aqua ; 
}
.intro #p2{
    font-size: 60px;
    font-weight: 350;
    font-family:  Haettenschweiler, sans-serif ;
    color:aqua ;

}
.intro #p3{
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:aqua ;
}
.intro #p4{
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: aqua ;
}
.links{
    margin:90px 0px 0px 95px;
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    font-size: 30px;
}
.links i{
    color: whitesmoke;
}
i:hover{
    color: aqua;
    font-size: 35px;
    transition: all;
}
.projects{
    background: linear-gradient(180deg, #040d12ef, #132b2bef, #040d12ef);
    height: 100vh;
    width: 100%;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects span{
    margin-top: 82px;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:100;

}
.projects .project{
  height: 75% ;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  padding: 0px 90px 0px 90px;
}
.contant{
    height: 24vh;
    width: 22vw;
    background-color: aliceblue;
    border-radius: 1.4rem;
    margin-top: 66px;
    box-shadow: 5px 5px 20px aqua;
}
.pj1{
    background-image: url('Amazon\ clone/Amazon-clone.png'); 
    background-size: cover;
    background-position: bottom;

}
.pj1:hover{
    background-image: url("Amazon\ clone/Amazon.png");
    background-position: bottom;
    transition-property: all;
    transition-duration: 1.5s;
}

.pj2{
    background-image: url("Fashion\ store/Fashion-store-project.png");
    background-size: cover;
    background-position: bottom;
}
.pj2:hover{
    background-image: url("Fashion\ store/Fashionstore.png");
    background-position: bottom;
    transition-property: all;
    transition-duration: 1.5s;

}
.Service{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #040D12, #132b2b, #040D12);
}
.Service-Heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Service-Heading span{
    margin-top: 82px;
    font-size: 60px;
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:100;
}
.service-content{
    height: 75% ;
  width: 100%;
  font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:100;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px 0px 90px;

}

