*{
   margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}
header{
    width: 100vw;
    position: fixed;
    background-color: white;
} 
.navbar{
    height: 80px;
    width: 100%;
    padding: 0px 16px 0px 16px;
    flex-wrap: wrap;
    position:relative;
    z-index: 1000;
}
.nav-option{
    height: 80px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    background-image: url("pw-logo.e76e9f50.webp");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    margin-left: 90px;
}
#courses{
    color: blueviolet;
    height: 52px;
    width: 140px;
    text-decoration: none;
    background-color: white;
    border: 1px solid blueviolet;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 530;
    margin-left: 50px;
}
.classes{
    margin-right: 50px;
    font-weight: 545;
    font-size: large;

}

#Signup{
    color: white;
    height: 52px;
    width: 160px;
    font-size: 18px;
    font-weight: 530;
    text-decoration: none;
    background-color: white;
    border: 1px solid blueviolet;
    border-radius: 4px;
    display: inline;
    margin-right: 90px;

}
.container-box1{
    display: block;
    height: 100vh;
    width: 100vw;
}
.hero-section{
    height: 36vh;
    width: 100%;
    background-image: url("hero.webp");
    background-size: cover;

}
.propm{
    height: 63vh;
    width: 100%;
    background-color: rgba(200, 200, 233, 0.801);
    display: flex;
    align-items: center;
}
.propm .hero-box1 #text{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
   

   
}
.hero-box1 #text #temp{
    font-size: 15px;
    color: rgb(51, 50, 50);
    line-height: 0.5rem;
}
.propm .hero-box1{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.propm .hero-box1 button{
    height: 60px;
    width: 250px;
    border-radius: 5px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color:#5a4bda;
    margin-top: 60px;
    text-decoration: none;
}
.propm .hero-box1 a{
    text-decoration: none;
    color: white;
}
.container-box1{

   width: 100vw;
   height: 300px;
   display: flex-start;
   justify-content: center;
   align-items: center;
   padding-left: 130px;
   padding-right: 130px;
}
.propm .hero-box2{
    height: 100%;
    width: 55%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.propm .hero-box2 .photo-one{
    height: 91%;
    width: 100%;
    background-image: url("alakh\ sir.webp");
    background-size: cover;
 
}
.container-box2{
    height: 100vh;
    width: 100vw;

}
.container-box2 div{
    height: 100px;
    width: 100vw;
    color: black;
    font-size: 40px;
    font-weight: 600;
    font-family: 'calibari';
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-box2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgb(66, 66, 66);
}
.exams{
    height: 600px;
    width: 100vw;
}